@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.wrapper {
  min-height: 200px;
  max-width: 1170px;
  margin: 0 auto; }

body {
  font-family: "Open Sans";
  margin: 0 auto;
  max-width: 1800px; }

.menu_baner {
  background: url(../image/Backgound.png) center no-repeat;
  max-height: 800px; }

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1175px;
  margin: 0 auto;
  height: 120px; }
  .body .logo {
    margin: 0 20px 0; }
  .body ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .body ul li {
      list-style: none; }
      .body ul li a {
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        font: outline;
        font-size: 20px;
        margin-right: 15px;
        font-weight: 800; }
        .body ul li a:hover, .body ul li a:focus, .body ul li a:active {
          color: #ffb600; }

.burger {
  display: none; }

.content p {
  padding: 50px; }

.header_baner {
  max-width: 1300px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-grid-columns: 7fr 5fr;
  grid-template-columns: 7fr 5fr; }
  .header_baner img {
    display: block;
    margin: 0 auto;
    max-width: 110%; }

.baner_text_creative {
  margin: 0 20px;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start; }
  .baner_text_creative .creative_text1,
  .baner_text_creative .creative_text2,
  .baner_text_creative .creative_text3 {
    color: #ffffff;
    line-height: 0.9em;
    text-align: right; }
  .baner_text_creative .creative_text1 {
    font-size: 69px;
    font-weight: 600; }
  .baner_text_creative .creative_text2 {
    color: #eeb501;
    font-size: 144px;
    font-weight: 800;
    letter-spacing: -4.71px; }
  .baner_text_creative .creative_text3 {
    font-size: 70px;
    font-weight: 600; }
  .baner_text_creative .creative_text4 {
    font-size: 18px;
    margin-top: 40px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: right;
    margin-top: 36px; }
  .baner_text_creative button {
    border: 2px solid white;
    border-radius: 1px;
    background-color: rgba(22, 7, 7, 0);
    padding: 18px 44px;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    float: right;
    margin-top: 60px;
    margin-bottom: 80px;
    width: 231px;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s; }
    .baner_text_creative button:hover, .baner_text_creative button:focus, .baner_text_creative button:active {
      letter-spacing: 2px;
      color: #ffb600;
      border: 2px solid #ffb600; }

.background_skils {
  background: url(../image/team/background_team_s.png) right -400px top 10% no-repeat, url(../image/background_skils.png) bottom no-repeat;
  min-height: 714px;
  height: 100%;
  margin: 0 auto; }

.block_skils {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr; }
  .block_skils .awesome_skills {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3; }
    .block_skils .awesome_skills p {
      margin: 180px 30px 0;
      color: #000;
      font-size: 43px;
      font-weight: 800; }
      @media (max-width: 768px) {
        .block_skils .awesome_skills p {
          font-size: 34px; } }
    .block_skils .awesome_skills span {
      padding: 0 10px;
      background-color: #eeb501;
      color: #fff;
      font-weight: 700;
      font-size: 65px;
      line-height: 1.5em; }
      @media (max-width: 768px) {
        .block_skils .awesome_skills span {
          font-size: 44px; } }
  .block_skils .skil {
    text-align: center;
    margin: 90px 45px 0; }
    .block_skils .skil .img_skil {
      display: inline-block;
      width: 90px;
      height: 90px;
      border-radius: 50px;
      background-color: #eeb501;
      text-align: center; }
    .block_skils .skil img {
      size: 100%;
      margin-top: 28px; }
    .block_skils .skil h4 {
      color: #1e0404;
      font-size: 25px;
      font-weight: 700;
      margin-top: 18px; }
    .block_skils .skil p {
      margin-top: 18px;
      color: #1e0404;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px; }

.portfolio {
  background: url(../image/portfolio/Background_portfolio.jpg) center no-repeat;
  max-height: 1317px; }
  .portfolio .portfolio_head {
    color: #fff;
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .portfolio .portfolio_head p:first-child {
      font-size: 29px;
      font-style: italic;
      margin-top: 70px; }
    .portfolio .portfolio_head h3 {
      font-size: 43px;
      font-weight: 800;
      margin-top: 15px;
      line-height: 35px; }
    .portfolio .portfolio_head span {
      font-size: 50px;
      font-weight: 800;
      font-family: 'Nunito', sans-serif; }
    .portfolio .portfolio_head p:last-child {
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      margin: 0 0 20px;
      max-width: 562px; }
  .portfolio .portfolio_imgs {
    display: -ms-grid;
    display: grid;
    grid-gap: 15px;
    -ms-grid-columns: 2fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    margin: 0 15px; }
    @media (max-width: 768px) {
      .portfolio .portfolio_imgs {
        -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
        -ms-grid-rows: (270px)[3];
        grid-template-rows: repeat(3, 270px); } }
    @media (max-width: 480px) {
      .portfolio .portfolio_imgs {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: (110px)[autofit];
        grid-template-rows: repeat(autofit, 110px); } }
  .portfolio .portfolio_img {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    .portfolio .portfolio_img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -ms-grid-column-align: center;
      justify-self: center; }
    .portfolio .portfolio_img:first-child {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1/3; }
      @media (max-width: 480px) {
        .portfolio .portfolio_img:first-child {
          -ms-grid-row: 1;
          -ms-grid-row-span: 1;
          grid-row: 1/2;
          -ms-grid-column: 1;
          -ms-grid-column-span: 2;
          grid-column: 1/3; } }
    .portfolio .portfolio_img:last-child {
      -ms-grid-column: 2;
      -ms-grid-column-span: 2;
      grid-column: 2/4; }
      @media (max-width: 768px) {
        .portfolio .portfolio_img:last-child {
          -ms-grid-column: 1;
          -ms-grid-column-span: 2;
          grid-column: 1/3; } }
      @media (max-width: 480px) {
        .portfolio .portfolio_img:last-child {
          -ms-grid-column: 1;
          -ms-grid-column-span: 2;
          grid-column: 1/3; } }
  .portfolio .portfolio_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .portfolio .portfolio_button button {
      border: 2px solid white;
      border-radius: 1px;
      background-color: rgba(22, 7, 7, 0);
      padding: 18px 44px;
      color: white;
      text-transform: uppercase;
      font-size: 22px;
      display: inline-block;
      margin: 20px 0 30px;
      width: 231px;
      -webkit-transition: all .5s ease 0s;
      -o-transition: all .5s ease 0s;
      transition: all .5s ease 0s; }
      .portfolio .portfolio_button button:hover, .portfolio .portfolio_button button:focus, .portfolio .portfolio_button button:active {
        letter-spacing: 2px;
        color: #ffb600;
        border: 2px solid #ffb600; }

.team {
  background: url(../image/team/background_team_s.png)-500px 50% no-repeat, url(../image/team/Backgroung_team.jpg) center no-repeat; }

.team_head {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }
  .team_head p {
    font-size: 29px;
    font-style: italic;
    margin-top: 70px;
    color: #1e0404; }
  .team_head h3 {
    font-size: 43px;
    font-weight: 800;
    margin-top: 15px;
    line-height: 35px; }
  .team_head span {
    color: #eeb501;
    font-size: 50px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif; }

.team_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-gap: 15px;
  margin: 0 15px; }
  @media (max-width: 768px) {
    .team_cards {
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 480px) {
    .team_cards {
      -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr); } }

.team_card {
  text-align: center; }
  .team_card:nth-child(2n) img {
    margin-top: 64px; }
  .team_card img {
    width: 100%; }
  .team_card h5 {
    margin-top: 35px;
    color: #1e0404;
    font-size: 29px;
    font-weight: 800; }
  .team_card p {
    color: #4f4f4f;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 80px; }

.testimonials {
  background: url(../image/testimonials/backgroung_testimonials.jpg) center no-repeat;
  min-height: 714px; }

.testimonials_head {
  color: #fff;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .testimonials_head p {
    font-size: 29px;
    font-style: italic;
    margin-top: 70px; }
  .testimonials_head h3 {
    font-size: 43px;
    font-weight: 800;
    margin-top: 15px;
    line-height: 35px; }
  .testimonials_head span {
    font-size: 50px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    color: #eeb501; }

.testimonials_cards {
  display: -ms-grid;
  display: grid;
  text-align: center; }

.testimonials_card {
  color: #fff;
  text-align: center; }
  .testimonials_card p:first-child {
    max-width: 845px;
    font-size: 24px;
    margin: 0 auto;
    font-style: italic; }
  .testimonials_card img {
    border-radius: 50%;
    margin-top: 33px; }
  .testimonials_card h5 {
    font-size: 43px;
    font-weight: 800;
    margin-top: 15px;
    line-height: 35px;
    color: #eeb501; }
  .testimonials_card p:last-child {
    font-size: 25px; }

.our_clients {
  background: url(../image/сlients/backgroung_сlients.jpg) no-repeat center; }

.hader_our_clients {
  color: #000;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .hader_our_clients p:first-child {
    font-size: 29px;
    font-style: italic;
    margin-top: 70px; }
  .hader_our_clients h3 {
    font-size: 43px;
    font-weight: 800;
    margin-top: 15px;
    line-height: 35px; }
  .hader_our_clients span {
    font-size: 50px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    color: #eeb501; }
  .hader_our_clients p:last-child {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 20px;
    max-width: 887px; }

.block_our_clients {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-grid-columns: (minmax(100px, 323px))[4];
  grid-template-columns: repeat(4, minmax(100px, 323px));
  padding-bottom: 50px; }
  @media (max-width: 768px) {
    .block_our_clients {
      -ms-grid-columns: (minmax(100px, 323px))[3];
      grid-template-columns: repeat(3, minmax(100px, 323px)); } }
  @media (max-width: 480px) {
    .block_our_clients {
      -ms-grid-columns: (minmax(100px, 323px))[2];
      grid-template-columns: repeat(2, minmax(100px, 323px)); } }

.our_client_card img {
  max-width: 100%; }

.git_in_touch {
  background: url(../image/git/Layer_5.jpg) center no-repeat; }
  .git_in_touch .bg {
    color: #fff;
    background: rgba(0, 0, 0, 0.85); }
    .git_in_touch .bg h5 {
      font-size: 29px;
      font-weight: 600;
      text-align: center;
      margin: 50px 0 20px; }

.hader_git_in_touch {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .hader_git_in_touch p:first-child {
    font-size: 29px;
    font-style: italic;
    margin-top: 70px; }
  .hader_git_in_touch h3 {
    font-size: 43px;
    font-weight: 800;
    margin-top: 15px;
    line-height: 35px; }
  .hader_git_in_touch span {
    font-size: 50px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    color: #eeb501; }
  .hader_git_in_touch p:last-child {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 20px;
    max-width: 887px; }

.git_in_touch_map iframe {
  width: 100%;
  height: 285px; }

.form .n_e_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .form .n_e_p {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .form .n_e_p div {
    margin-top: 20px;
    width: 100%; }
    .form .n_e_p div:not(:first-child) {
      margin-left: 20px; }
      @media (max-width: 768px) {
        .form .n_e_p div:not(:first-child) {
          margin-left: 0; } }
  .form .n_e_p input {
    outline: none;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    width: 100%;
    height: 63px;
    background-color: #2e2e2e; }

.form .m_b {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px; }
  @media (max-width: 768px) {
    .form .m_b {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-gap: 0; } }
  .form .m_b div {
    color: #fff; }
    .form .m_b div:last-child {
      -ms-grid-column-align: end;
      justify-self: end; }
      @media (max-width: 768px) {
        .form .m_b div:last-child {
          -ms-grid-column-align: center;
          justify-self: center; } }
    .form .m_b div:first-child {
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
      grid-column: 1/6; }
  .form .m_b textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 63px;
    background-color: #2e2e2e;
    color: #fff;
    outline: none; }
  .form .m_b button {
    color: #fff;
    width: 171px;
    height: 61px;
    border: 3px solid #ffffff;
    background-color: #ffffff00;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s; }
    .form .m_b button:hover, .form .m_b button:focus, .form .m_b button:active {
      letter-spacing: 2px;
      color: #ffb600;
      border: 2px solid #ffb600; }

.social_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .social_network a {
    text-decoration: none; }
    .social_network a:before {
      display: block;
      content: "";
      height: 55px;
      margin: -53px 0 0; }
  .social_network div {
    background: #eeb501;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-display: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 57px;
    width: 57px;
    margin: 11px; }
    .social_network div img {
      -webkit-transition: all .5s ease 0s;
      -o-transition: all .5s ease 0s;
      transition: all .5s ease 0s; }
    .social_network div:hover img {
      -webkit-filter: invert(100%);
      filter: invert(100%); }

.git_in_touch_contacts {
  text-align: center;
  font-size: 20px;
  font-weight: 400; }
  .git_in_touch_contacts p {
    margin-top: 5px; }
    .git_in_touch_contacts p:last-child {
      display: block;
      height: 70px;
      margin-top: 0; }

.git_in_touch_line {
  max-width: 1170px;
  height: 6px;
  background-color: #eeb501;
  margin: 50px 15px; }

@media (max-width: 1024px) {
  .header_baner img {
    max-width: 70%; }
  .baner_text_creative .creative_text1,
  .baner_text_creative .creative_text2,
  .baner_text_creative .creative_text3 {
    line-height: 0.9em; }
  .baner_text_creative .creative_text1 {
    font-size: 35px; }
  .baner_text_creative .creative_text2 {
    font-size: 72px; }
  .baner_text_creative .creative_text3 {
    font-size: 35px; }
  .baner_text_creative .creative_text4 {
    font-size: 18px; }
  .block_skils {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }
    .block_skils .awesome_skills {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1/3;
      text-align: center; }
      .block_skils .awesome_skills p {
        margin-top: 50px !important; }
    .block_skils .skil {
      text-align: center;
      margin: 30px 15px 20px; } }

@media (max-width: 768px) {
  .body {
    background-color: #00000098;
    position: fixed;
    left: 0;
    right: 0;
    height: 60px; }
    .body img {
      height: 50px; }
  .menu {
    -webkit-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s;
    -o-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s;
    position: absolute;
    top: -450px;
    overflow: hidden;
    width: 100%; }
    .menu .list {
      background-color: #00000098;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      border-radius: 0 0 10px 10px; }
    .menu .link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 5px auto; }
      .menu .link a {
        font-size: 30px; }
  .menu.active {
    position: absolute;
    overflow: auto;
    top: 60px; }
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    padding: 0 25px;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s; }
    .burger:before, .burger:after,
    .burger span {
      content: '';
      display: block;
      position: absolute;
      background-color: #fff;
      width: 30px;
      height: 4px;
      -webkit-transition: all .1s ease 0s;
      -o-transition: all .1s ease 0s;
      transition: all .1s ease 0s;
      border-radius: 3px; }
    .burger:before {
      top: 0; }
    .burger:after {
      bottom: 0; }
    .burger span {
      top: 8px; }
  .burger.active {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
    .burger.active:before {
      top: 8px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .burger.active:after {
      bottom: 8px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .burger.active span {
      display: none; }
  .header_baner {
    padding: 60px 0 0 0;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
    .header_baner .creative_text4 {
      text-align: center; }
    .header_baner img {
      max-width: 50%; }
    .header_baner button {
      display: block;
      margin: 30px auto; }
  .awesome_skills p {
    margin-top: 20px !important; }
  .skil {
    margin: 30px 10px 20px !important; } }
